body {
    font-family: arial;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
}

input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    width: 55px;
    height: 45px;
    margin: 3px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.operator {
    background: orange;
    color: white;
}

.clear {
    background: red;
    color: white;
    width: 100%;
}